<table class="table shadow rounded">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Participation cost</th>
      <th scope="col">Pool</th>
      <th scope="col">Participants</th>
      <th scope="col">Time left</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lottery of lotteries; index as i">
      <td [ngStyle]="styleLotteryName(i)"><b>{{ lottery.name }}</b></td>
      <td>{{ lottery.participationCostInETH }} ETH <b>({{ lottery.participationCostInUSD }} USD)</b></td>
      <td>{{ lottery.poolInETH }} ETH <b>({{ lottery.poolInUSD }} USD)</b></td>
      <td>{{ lottery.participantsCount }}</td>
      <td>20h</td>
      <td valign="bottom" align="right">
        <button class="btn rounded-pill participateBtn" (click)="onParticipateLottery(lottery.id, lottery.participationCostInETH)">Participate</button>
      </td>
    </tr>
  </tbody>
</table>
