<main>
  <div class="container py-4">
    <div class="p-5 mb-4 rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Deposit and win!</h1>
        <p class="col-md-8 fs-4">
          KoiLottery is a website, where you have various lotteries that you can join by paying the required amount.
          After a given lottery duration there is a draw from which one person of all lottery participants wins 100% of lottery pool.
        </p>
      </div>
    </div>
    <lotteries></lotteries>
  </div>
</main>
